@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-barlow: "Barlow Semi Condensed", sans-serif;
  }
  body {
    @apply font-barlow font-semibold bg-gradient-to-bl from-body-s to-body-e;
  }
  input:focus-visible {
    outline: none;
  }
}

@layer components {
  .btn {
    @apply rounded py-1 px-3 ease-in-out duration-200;
  }
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}
